.App {
  text-align: center;
}

.body {
  background-color: black;
  font-family: "Courier New", monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-container {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-container {
  flex: 1;
  max-width: 70%;
  padding-left: 30%;
}

.collapsed {
  padding-left: 10%;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 40%;
  }
  .collapsed {
    padding-left: 10%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
